img {
  display: block;
  max-width: 100%;
}

.back-image {
  backdrop-filter: blur(2px);
}

body {
  font-family: "Source Code Pro", monospace;
  background: url("assets/background.jpg") no-repeat fixed top center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #aeaeae;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
